<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition plugin="validating-string-parameter@2.3">
          <name>tag_name</name>
          <description>The tag and associated commit that will be imported into the region. If no tag is specified then the most recent commit will be imported. </description>
          <defaultValue>TEST</defaultValue>
          <regex>.+</regex>
          <failedValidationMessage></failedValidationMessage>
        </hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition>
        <hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition plugin="validating-string-parameter@2.3">
          <name>git_repo_location</name>
          <description>The location of the git repo including hostname and .git file location</description>
          <defaultValue>10.15.75.244:/var/lib/jenkins/CFME.git</defaultValue>
          <regex>.+</regex>
          <failedValidationMessage>You must enter a location of the git repo to commit to</failedValidationMessage>
        </hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@10.15.75.242:22</siteName>
      <command>set -ex

BUILDDIR=$(mktemp -d --suffix=&quot;.CFME&quot;)
LIFECYCLE_TAG=QA

cd ${BUILDDIR}
git clone $git_repo_location ${BUILDDIR}
git checkout $tag_name .

git status

cd automate/
git archive --format=zip -o ../automate.zip $tag_name .

cd /var/www/miq/vmdb

bin/rake rhconsulting:dialogs:import[${BUILDDIR}/dialogs]
bin/rake rhconsulting:service_catalogs:import[${BUILDDIR}/service_catalogs]
bin/rake rhconsulting:roles:import[${BUILDDIR}/roles.yml]
bin/rake rhconsulting:tags:import[${BUILDDIR}/tags.yml]
bin/rake rhconsulting:buttons:import[${BUILDDIR}/buttons.yml]
bin/rake rhconsulting:customization_templates:import[${BUILDDIR}/customization_templates.yml]
bin/rake evm:automate:restore BACKUP_ZIP_FILE=${BUILDDIR}/automate.zip
#bin/rake &quot;rhconsulting:miq_ae_datastore:import[Customer, ${BUILDDIR}/miq_ae_datastore]&quot;

cd ${BUILDDIR}

git tag -d  $LIFECYCLE_TAG &amp;&amp; git push origin :refs/tags/$LIFECYCLE_TAG || true
git tag $LIFECYCLE_TAG $tag_name
git push origin master --tags

if [ -n &quot;$BUILDDIR&quot; ]
then
  echo &quot;Cleaning up temp directory that was created&quot;
  rm -rf $BUILDDIR
fi
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
  </builders>
  <publishers>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger plugin="build-pipeline-plugin@1.4.7">
      <configs>
        <hudson.plugins.parameterizedtrigger.CurrentBuildParameters plugin="parameterized-trigger@2.27"/>
      </configs>
      <downstreamProjectNames>Import into PROD CFME</downstreamProjectNames>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger>
  </publishers>
  <buildWrappers/>
</project>