<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Export Automate domains, buttons,  customization templates, roles, service catalogs, and tags from a user-specified CloudForms region</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition plugin="validating-string-parameter@2.3">
          <name>git_repo_location</name>
          <description>The location of the git repo including hostname and .git file location</description>
          <defaultValue>10.15.75.244:/var/lib/jenkins/CFME.git</defaultValue>
          <regex>.+</regex>
          <failedValidationMessage>You must enter a location of the git repo to commit to</failedValidationMessage>
        </hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>automate_domains</name>
          <description>Specify the domains to be backed up, one on each line. If nothing is entered, all domains will be exported.</description>
          <defaultValue>Customer</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>tag_name</name>
          <description>Optional field. Allows you to tag a commit with the specified tag name. A tag is required to import into another region</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>commit_message</name>
          <description></description>
          <defaultValue>test commit message</defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@10.15.75.237:22</siteName>
      <command>set -e

BUILDDIR=$(mktemp -d --suffix=&quot;.CFME&quot;)
if [ -n &quot;$automate_domains&quot; ]
then
  readarray -t DOMAIN_EXPORT &lt;&lt;&lt;&quot;$automate_domains&quot;
else
  DOMAIN_EXPORT=( &quot;*&quot; )
fi

cd ${BUILDDIR}
git clone $git_repo_location ${BUILDDIR}
git rm -r .

ls ${BUILDDIR}

cd /var/www/miq/vmdb
mkdir ${BUILDDIR}/service_catalogs
bin/rake rhconsulting:service_catalogs:export[${BUILDDIR}/service_catalogs]
mkdir ${BUILDDIR}/dialogs
bin/rake rhconsulting:dialogs:export[${BUILDDIR}/dialogs]
bin/rake rhconsulting:roles:export[${BUILDDIR}/roles.yml]
bin/rake rhconsulting:tags:export[${BUILDDIR}/tags.yml]
bin/rake rhconsulting:buttons:export[${BUILDDIR}/buttons.yml]
bin/rake rhconsulting:customization_templates:export[${BUILDDIR}/customization_templates.yml]

bin/rake evm:automate:backup BACKUP_ZIP_FILE=${BUILDDIR}/automate.zip OVERWRITE=true
#for domain in &quot;${DOMAIN_EXPORT[@]}&quot;
#do
#bin/rake &quot;rhconsulting:miq_ae_datastore:export[${domain}, ${BUILDDIR}/miq_ae_datastore]&quot;
#done

cd ${BUILDDIR}
unzip automate.zip -d automate  &gt; /dev/null
rm -f automate.zip

git add --all
git commit -m &quot;$commit_message&quot;  || true #Continue even if nothing was committed. Allows us to add a tag to a commit
git tag $tag_name
git tag -d DEV &amp;&amp; git push origin :refs/tags/DEV || echo &quot;Tag doesn&apos;t exist&quot;
git tag DEV
git push origin master --tags

if [ -n &quot;$BUILDDIR&quot; ]
then
  echo &quot;Cleaning up temp directory that was created&quot;
  rm -rf $BUILDDIR
fi
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
  </builders>
  <publishers>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger plugin="build-pipeline-plugin@1.4.7">
      <configs>
        <hudson.plugins.parameterizedtrigger.CurrentBuildParameters plugin="parameterized-trigger@2.27"/>
      </configs>
      <downstreamProjectNames>Import into Test CFME</downstreamProjectNames>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger>
  </publishers>
  <buildWrappers/>
</project>